body{
    background-color: #474747;
    color: aliceblue;
}

#foto {
    border-radius:200px;
    width: 120px;
}

.sans {
    font-family: sans-serif;
}

#nacionalidade {
    font-style: italic;
}

.html {
    font-size: 11px;
}
.css {
    font-size: 12px;
}
.php {
    font-size: 13px;
}
.javascript {
    font-size: 14px;
}
.sql {
    font-size: 15px;
}
.laravel {
    font-size: 16px;
}
.vue {
    font-size: 17px;
}
.mysql {
    font-size: 18px;
}
.conteudo {
    display: flex;
}
.img {
    border-radius: 100px;
}
.p1 {
    padding-left: 15px;
}
.impar {
    text-decoration: underline;
}